.game-player {
  position: relative;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: var(--outerBorder);
  --rule-padding: 15px;
  gap: 0;
  background: #444444;
  border-radius: 2px;
}

.game-player .decoration {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.game-player .corner {
  margin: var(--outerBorder);
  background: #EEEEEE;
}

.game-player .rules, .game-player .rules > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--border);
}

.game-player .rules {
  background: #DDDDDD;
  margin: 1px;
}

.game-player .rules > div {
  background: #FFFFFF;
}

.game-player .rules > div > div {
  width: var(--cellSize);
  height: var(--cellSize);
  font: 300 calc(var(--cellSize) * 0.7) sans-serif;
  line-height: var(--cellSize);
  text-align: center;
}

.game-player .rules .done {
  color: #AACC80;
  cursor: pointer;
}

.game-player .rules .error {
  color: #CC0066;
  background: #FFEEEE;
}

.game-player .rules.align-bottom > div {
  padding-top: var(--rule-padding);
}

.game-player .rules.align-top > div {
  padding-bottom: var(--rule-padding);
}

.game-player .rules.align-left > div {
  padding-right: var(--rule-padding);
}

.game-player .rules.align-right > div {
  padding-left: var(--rule-padding);
}

.game-player .rules.align-top > div, .game-player .rules.align-bottom > div {
  flex-direction: column;
}

.game-player .rules.align-left, .game-player .rules.align-right {
  flex-direction: column;
}

.game-player .rules.align-bottom > div, .game-player .rules.align-right > div {
  justify-content: flex-end;
}

.game-player .grid-view {
  grid-area: 2 / 2;
}
