.options {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  margin-bottom: 4px;
}

.definition {
  font: 10px monospace;
  white-space: pre-wrap;
  line-break: loose;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.rules, .rules > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--border);
}

.rules > div > div {
  width: var(--cellSize);
  height: var(--cellSize);
  font: calc(var(--cellSize) * 0.6) monospace;
  line-height: var(--cellSize);
  text-align: center;
}

.rules.align-top, .rules.align-bottom {
  padding-left: var(--border);
  padding-right: var(--border);
}

.rules.align-top > div, .rules.align-bottom > div {
  flex-direction: column;
}

.rules.align-left, .rules.align-right {
  flex-direction: column;
  padding-left: var(--border);
  padding-right: var(--border);
}

.rules.align-bottom > div, .rules.align-right > div {
  justify-content: flex-end;
}
